<h2 id="hello">Saying "Hello" to the world in Python</h2>

In [2]:
print('Hello, Python!')

Hello, Python!

<h3 id="version">Checking the Python Version</h3>

In [3]:
import sys
print(sys.version)

3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0]

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>.

<p>The following code cells contain some examples.</p>

In [11]:
# Integer

11

11

In [12]:
# Float

2.14

2.14

In [13]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>The type of an expression by using the built-in <code>type()</code> function.

In [14]:
# Type of 12

type(12)

int

In [15]:
# Type of 2.14

type(2.14)

float

In [16]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using the <code>type()</code> function:

In [18]:
# Print the type of -1

type(-1)

int

In [19]:
# Print the type of 4

type(4)

int

In [20]:
# Print the type of 0

type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. 

<p>Once again, let's test some examples with the <code>type()</code> function:

In [21]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [22]:
# Print the type of 0.5

type(0.5)

float

In [23]:
# Print the type of 0.56

type(0.56)

float

In [24]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>Changing the type of the object in Python is called typecasting.

In [25]:
# Verify that this is an integer

type(2)

int

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [26]:
# Convert 2 to a float

float(2)

2.0

In [27]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [28]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [29]:
# Convert a string into an integer

int('1')

1

<p>Converting strings containing floating point numbers into <i>float</i> objects:</p>

In [31]:
# Convert the string "1.2" into a float

float('1.2')

1.2

<h4>Converting numbers to strings</h4>

In [32]:
# Convert an integer to a string

str(1)

'1'

In [33]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [34]:
# Value true

True

True

In [35]:
# Value false

False

False

<p>When Python is asked to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, we get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>.</p>

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [42]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6/2

3.0

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [43]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6//2

3

<hr>

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [44]:
# Addition operation expression

43 + 60 + 16 + 41

160

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [45]:
# Subtraction operation expression

50 - 60

-10

<p>We can do multiplication using an asterisk:</p>

In [46]:
# Multiplication operation expression

5 * 5

25

<p>We can also perform division with the forward slash:

In [47]:
# Division operation expression

25 / 5

5.0

In [48]:
# Division operation expression

25 / 6

4.166666666666667

<p>As seen above, we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [49]:
# Integer division operation expression

25 // 5

5

In [50]:
# Integer division operation expression

25 // 6

4

<h3 id="exer_exp">Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [51]:
160/24

6.666666666666667

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [52]:
# Mathematical expression

30 + 2 * 60

150

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [53]:
# Mathematical expression

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [54]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [55]:
x

160

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [56]:
y = x / 60
y

2.6666666666666665

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [57]:
x = x / 60
x

2.6666666666666665

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [58]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [59]:
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [60]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [1]:
x = 3 + 2 * 2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [63]:
y = (3 + 2) * 2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [64]:
z = x + y
z

17